.first-page-header {
  background-color: #1890ff; 
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.ant-menu-horizontal {
  background: none; 
}

.ant-menu-item a {
  color: white; /* 링크 색상 */
}

.ant-menu-item a:hover {
  color: #d9d9d9; /* 링크 hover 색상 */
}
